* {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding: 12px;
  }
  
  .line {
    margin: 6px 0;
    width: 375px;
  }

  .new-books{
    margin-top: 12px;
  }

  .new-books p{
    margin-top: 5px;
  }